@import "vars";
@import "reset";


svg {
	pointer-events: none;
}
.svgdefs {
	display: none;
}

.dmicon {
	font-size: 50px; // height
	margin: 15px;
}

.svgicon {
	width: 54px;
	height: 50px;
	margin: 15px;
}

.dmicon.inactive {
	color: #c8c8c8;
}

.dmicon.active {
	color: green;
}

.svgicon.inactive {
	fill: #c8c8c8;
}

.svgicon.active {
	fill: green;
}

.iconfallback {
	display: block;
	background-repeat: no-repeat;
	background-position: left top;
}