<p>Inline SVG</p>
<svg class="svgicon inactive">
	<use xlink:href="#dm-cart-question-mark"></use>
</svg>

<svg class="svgicon active">
	<use xlink:href="#dm-cart-question-mark"></use>
</svg>

<p>Font Awesome</p>
<i class="dmicon dmicon_cart-question-mark inactive"></i>
<i class="dmicon dmicon_cart-question-mark active"></i>


<p>Grunt Icon (for PNG fallback only)</p>
<span class="icon-cart-question-mark iconfallback"></span>

<p>Good references</p>
<ol>
	<li><a href="http://css-tricks.com/svg-sprites-use-better-icon-fonts/">CSS Tricks - "svg-sprites-use-better-icon-fonts"</a></li>
</ol>