<!DOCTYPE html>
<html>
	<head>

		<!--{GRUNT_HEAD_MARKUP_START}-->
		<title>SVG Tests</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta http-equiv="Content-Language" content="en-GB" />
		<meta http-equiv="Content-Style-Type" content="text/css" />
		<meta http-equiv="Content-Script-Type" content="text/javascript" />
		<meta name="author" content="Jim Doyle" />
		<meta name="copyright" content="Jim Doyle" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<link rel="apple-touch-icon-precomposed" href="/_dist/deploy/img/icon.png" />
		<!--{GRUNT_HEAD_MARKUP_END}-->

		<script src="/_dev/deps/bower_components/requirejs/require.js"></script>
		<script src="/_dev/app/js/requirejsconfig.js"></script>

		<!-- styles -->
		<link rel="stylesheet" href="/_dist/deploy/fonts/dmicon.css">
		<link rel="stylesheet" href="/_dist/deploy/css/debug/app.css">
		<link rel="stylesheet" href="/_dist/deploy/img/iconsprites/icons.fallback.css">

	</head>	
	<body>

		<!-- loads combined inline SVGs via js and fills .svgdefs element -->
		<span class="svgdefs"></span>
		<script src="/_dist/deploy/js/svgloader.js"></script>
		
	    <!--
	    	Markup separated into individual files.
	    	{{GRUNT}} tags get replaced with markup content in "_dist/deploy" version.
	    -->
		<div class="body"><!--{{GRUNT_PLACE_BODY}}--></div>

		<script>
			// loads markup and populates key elements/sections
			require([ "jquery"
						,"text!./markup/body.html"
					], function( $, b ) {
				$(".body").html( b );

				// inits our app once the DOM has been populated
				require(["app"]);
			});
		</script>

    </body>
</html>