<!DOCTYPE html>
<html>
	<head>

		<!--{GRUNT_HEAD_MARKUP_START}-->
		<title>Dan Murphy's</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no">
		<meta http-equiv="Content-Language" content="en-GB" />
		<meta http-equiv="Content-Style-Type" content="text/css" />
		<meta http-equiv="Content-Script-Type" content="text/javascript" />
		<meta name="author" content="Dan Murphy's" />
		<meta name="copyright" content="Dan Murphy's" />
		<link rel="apple-touch-icon-precomposed" href="/_dist/deploy/img/icon.png" />
		<!--{GRUNT_HEAD_MARKUP_END}-->


		<!-- styles must be relative for cache-buster task to work -->
		<link rel="stylesheet" href="/_dist/deploy/fonts/dmicon.css">
		<link rel="stylesheet" href="css/min/app.css">
		<link rel="stylesheet" href="/_dist/deploy/img/iconsprites/icons.fallback.css">

	</head>	
	<body>

		<!-- loads combined inline SVGs via js and fills .svgdefs element -->
		<span class="svgdefs"></span>
		<script src="/_dist/deploy/js/svgloader.js"></script>

	    <!-- {{GRUNT}} tags get replaced with markup content in compressed version -->
		<div class="body"><!--{{GRUNT_PLACE_BODY}}--></div>

		<script src="libs/jquery-1.8.0.min.js"></script>
		<script src="js/app.min.js"></script>

    </body>
</html>